* {
    margin: 0;
    padding: 0;
}
.post-box {
    width: 20%;
    padding: 10px;
    margin: 10px 10px;
    display: inline-block;
    box-shadow: 0 0 2px 0px black;
    text-align: center;
    vertical-align: top;
    color: #000;
}

.post-box h2 {
    margin-bottom: 10px;
    text-transform: capitalize
}

.post-container a {
    text-decoration: none;
    color: #000
  }